<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head.ejs');  %>
</head>
<body >

<header>
    <%- include('./header.ejs'); %>
</header>
<br><br>
<br><br>

<main class="container-fluid">
    <div >
        <h1>Hey , je suis Mansour WOLOU </h1>
        <p>Etudiant développeur freelance</p>
        <p> 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, cumque dignissimos repellat nostrum facilis tempore quae harum minima perspiciatis suscipit, magnam dolore consequatur vel molestias provident, quod deserunt excepturi a.
        Alias saepe, possimus explicabo illo cum quas mollitia blanditiis molestias obcaecati consequatur sapiente ratione totam velit eos nesciunt non quisquam architecto dolor. Eligendi unde sit, voluptatem autem ullam blanditiis quod!
        Corporis aliquam explicabo nihil placeat, sunt repellendus possimus hic! Tempore corporis tempora maiores voluptates vero debitis totam! Cupiditate minus sit vitae consectetur aperiam, soluta natus nesciunt nobis, et corrupti repellat.
        Vero, ut tenetur ad non unde voluptatibus eligendi. Eos ducimus, itaque ratione nam deserunt rem ut ad magnam, odio nemo praesentium molestiae error omnis, accusamus nesciunt laudantium? Perferendis, perspiciatis recusandae.
        Quaerat cumque est iure odio hic? Doloribus, quae consectetur quo harum sunt voluptates tempora recusandae! Ullam quos suscipit numquam earum officiis molestiae, similique amet, cupiditate natus dolorem necessitatibus architecto laudantium!
        Sed vitae in nostrum sint. Soluta minus nisi necessitatibus cupiditate totam error, quos placeat. Deserunt nobis, at veniam doloremque tempore soluta distinctio? Quam architecto iusto consectetur, voluptas nobis accusamus corrupti!
        At, illo. Debitis cupiditate possimus accusamus accusantium necessitatibus rem provident blanditiis dolor aliquid saepe, repellat voluptas inventore culpa ex temporibus nihil nemo magnam voluptate esse iusto recusandae eos assumenda omnis?
        Explicabo optio, dolorum laboriosam ipsa aliquid voluptas, quas sunt nesciunt ab velit, blanditiis nulla animi accusantium excepturi doloribus facilis tenetur? Vero vel amet eum eius ducimus deleniti non, inventore recusandae.
        Nulla, pariatur! Doloremque deserunt aliquid, tempora minus ad aspernatur culpa sed. Aperiam laborum dolor quas, quam obcaecati adipisci praesentium! Soluta enim animi explicabo aut incidunt repudiandae sed rerum, ea ad!
        Sequi, magni saepe earum vero officia repellat voluptates, illum magnam corporis, maiores quia facere labore reiciendis quis nostrum. Fugit quisquam culpa fugiat aut voluptatibus magnam, consectetur in eveniet exercitationem alias?
        Voluptatum suscipit consequatur praesentium neque? Quod sapiente ad sit illo neque optio laborum iure libero autem obcaecati amet nihil blanditiis omnis iste dolor, eum mollitia commodi ratione dignissimos. Repudiandae, officiis?
        Explicabo quam nobis perferendis inventore? Porro reiciendis fugit necessitatibus. Odio dolores saepe quaerat commodi accusantium nostrum minus? Facere, deleniti! Obcaecati, natus modi unde maiores dignissimos minus tenetur quas nisi fuga.
        Fugit doloremque quasi odio perspiciatis aliquam optio enim eos reiciendis et facilis. Qui, mollitia quaerat quasi dolorem consequuntur officiis aliquid sed accusamus exercitationem laborum ullam magni sint aliquam impedit nobis.
        Sequi rem inventore fugiat a odio et dolorem blanditiis. Id iusto accusantium nihil ullam ipsam, debitis maiores laudantium quasi ratione consequatur labore facere obcaecati asperiores at excepturi recusandae doloribus sapiente.
        Repellat nulla exercitationem consequuntur natus hic, sunt, blanditiis minus illo ullam minima aperiam sint iste fugiat dolores sed officia obcaecati molestias? Consequatur doloremque nobis provident quod sed dolores ipsum soluta!
        </p>
    </div>
<!-- particles.js container --> 
<div id="particles-js"></div> 


</main>

<footer>
    <%- include('./footer.ejs'); %>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="../public/script/effet.js"></script>

<!-- particles.js lib - https://github.com/VincentGarreau/particles.js --> 
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
<!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>


</body>
</html>